<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page d'acceuil !</h1>
    <h2>Listes d'utilisateurs :</h2>

<!--pour fire des listes-->
    <% data.forEach(personne => {%>
        <a href="/contact/<%= personne._id %>">
        <h2>
            <%= personne._id %>
        </h2>
    </a>
        <h2>
            <%= personne.prenom %>
        </h2>

        <p>
            <%=  personne.email %> 
        </p>
       
        <%}) %>
    
</body>
</html>