<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/nouveaucontact" method="post">
        <labal for="nom">Nom :</labal>
        <input type="text" name="nom">

        <labal for="prenom">Prénom :</labal>
        <input type="text" name="prenom">

        <labal for="email">Email :</labal>
        <input type="email" name="email">

        <labal for="adresse">adresse:</labal>
        <input type="text" name="adresse">

        <labal for="message">Message :</labal>
        <textarea name="message" id="message"></textarea>


        <input type="submit">
    </form>
    
    
</body>
</html>