<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <form action="/newcarsave" method="post">
        <label for="">Marque</label>
        <input type="text" name="marque">

        <label for="">Modèle</label>
        <input type="text" name="modele">

        <label for="">Année</label>
        <input type="number" name="annee">

        <label for="">Couleur</label>
        <input type="text" name="couleur">

        <label for="">Prix</label>
        <input type="number" name="prix">

        <label for="">Description</label>
        <textarea name="description"></textarea>

        <label for="">Image</label>
        <input type="file" name="image">

        <input type="submit" value="Créer nouvelle voiture">







    </form>
    
</body>
</html>